/**
 * Colors
 **/

* {
    background:     #2B2B2B;
    background-alt: #383C4AFF;
    foreground:     #FFFFFF;
    selected:       #3BBB5E;
    active:         #98C379FF;
    urgent:         #E06B74FF;
}
